<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="ion-text-center">Bienvenido Userjaj</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="divEspacio">
    <ion-button class="editButton" expand="full">Escanear Código</ion-button>
    <ion-button (click)="asistencia()"  class="editButton" expand="full">Ver Asistencia</ion-button>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-button (click)="home()" color="danger" expand="full">Cerrar Sesión</ion-button>
    </ion-toolbar>
  </ion-footer>

</ion-content>

