<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="perfil-icon">
    <ion-icon name="person-outline"></ion-icon>
  </div>




  <div class="label-perfil-setting">  
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-text class="data">Benjamin Errazuriz</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>RUT</ion-label>
      <ion-text class="data">20.648.983-9</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text class="data">Be.errazuriz@duocuc.cl</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Carrera</ion-label>
      <ion-text class="data">Analista Programador</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Sede</ion-label>
      <ion-text class="data">Duoc San Joaquin</ion-text>
    </ion-item>
  </div>
  
  
  <div class="h1-text-perfil-setting">
    <h1>Tu Codigo QR!</h1>
  </div>

  <div class="img-qr-perfil-setting">
    <div class="img-qr">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png" alt="">
    </div>
  </div>
  
</ion-content>
