.recuperarbutton{
    
    padding-left: 50px;
    padding-right: 50px;
}

.label-email-recuperar{
    padding-left: 15px;
    padding-right: 15px;
}

.tittle-recuperar{
    text-align: center;
    padding-top: 25px;
}

.icon-recuperar{
    font-size: large;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px; /* Ajusta el margen inferior según sea necesario */
    margin-top: 100px;
}