
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="ion-text-center">
        Registro
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

    <div class="icon-register">
      <ion-icon name="person-add-outline"></ion-icon>
    </div>

    
  <div class="input-registro">  
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input label="Nombre" [(ngModel)]="userData.nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>RUT</ion-label>
      <ion-input label="RUT" [(ngModel)]="userData.rut" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input label="Email" [(ngModel)]="userData.email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Carrera</ion-label>
      <ion-input label="Carrera" [(ngModel)]="userData.carrera" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Sede</ion-label>
      <ion-input label="Sede" [(ngModel)]="userData.sede" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input label="Contraseña" [(ngModel)]="userData.contrasena" type="password"></ion-input>
    </ion-item>
</div>

<div>
  <ion-button expand="full" color="primary" (click)="registro()" class="buttom-registro">Registrar</ion-button>
</div>


</ion-content>
