<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="perfil">  
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-text></ion-text>
    </ion-item>
    <ion-item>
      <ion-label>RUT</ion-label>
      <ion-text></ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text></ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Carrera</ion-label>
      <ion-text></ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Sede</ion-label>
      <ion-text></ion-text>
    </ion-item>
  </div>
</ion-content>