<ion-content class="background-image">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="ion-text-center">
        RegistrApp
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-button expand="full" [routerLink]="['/login']" routerLinkActive="router-link-active"  >Iniciar Sesión</ion-button>
      <ion-button expand="full" [routerLink]="['/registro']" routerLinkActive="router-link-active"  >Registrarse</ion-button>
    </ion-card>
  </ion-content>
</ion-content>