.registro {
    padding: 20px;
    margin: 20px;
    max-width: 400px; /* Establece un ancho máximo para el formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
  }
  
  .registro ion-item {
    margin-bottom: 15px; /* Añade espacio entre los elementos del formulario */
  }
  
  .registro ion-button {
    margin-top: 20px; /* Incrementa el espacio superior del botón */
  }